*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Palanquin', sans-serif;
    scrollbar-width: thin;
}
body {
    cursor: url(../img/cursor.png), default;
}
.wrapper {
    overflow: hidden;
    animation: load-screen 5s forwards linear;
    -webkit-animation: load-screen 5s forwards linear;
}
/* scroll-button */
.arrow_up{
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 9;
    animation: load-screen 5s forwards linear;
    -webkit-animation: load-screen 5s forwards linear;
}
  .arrow_up a {
    height: 30px;
    width: 30px;
    text-align: center;
    background: #151414bd;
    display: block;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1em;
  }
  .arrow-up-link {
    text-decoration: none;
    color: #fff;
  }
  .arrow_down {
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 1000;
  }
  .arrow-down-link {
    height: 30px;
    width: 30px;
    text-align: center;
    height: 30px;
    width: 30px;
    text-align: center;
    background: #151414bd;
    color: #fff;
    display: block;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
/* ------------ */

::selection {
    color: #e05353;
    background-color: #808080bb;
}
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-track{
    background-color: #f8f2ef;
}
body::-webkit-scrollbar-thumb{
    background-color: #312b2c6e;
    border-radius: 20px;
    border: 3px solid #f8f2ef;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.first-section {
    width: 100vw;
    height: 100vh;
}
.header_box {
    grid-area: 1 / 2 / 2 / 5;
    border:1px solid black;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: var(--main-color-header);
    justify-content: center;
    align-items: center;
    gap: 1%;
}
.header_button{
    font-size: 12px;
    text-decoration: none;
    color: white;
    border-bottom:1px solid black;
    border-top:1px solid black;
    padding: 26px 20px 20px 20px;
    background-color: #312b2c;
    transition: 0.1s;
    white-space: nowrap;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}
#burger {
    display: none;
}
.left-side {
    grid-area: 3 / 2 / 4 / 4;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10%;
}
.first_h1 {
    font-size: 4.5em;
    font-weight: 900;
}
.h1_text {
    margin: 0;
    padding: 0;
    line-height: 90%;
}
.main-lorem-style {
    line-height: 115%;
    font-size: 1.5em;
    font-weight: 100;
    width: 90%;
}
.button {
    width: 150px;
    height: 50px;
    text-align: center;
}
.discription_link {
    text-decoration: none;
    color: white;
    
}
.video_box {
    grid-area: 3 / 4 / 4 / 5;
    width: 100%;
    z-index: 1;
    position: relative;
}
.discription_link-send {
    padding: 5% 36%;
    text-decoration: none;
    color: #FFFFFF !important;
    font-weight: 500;
}
.discription_link-send:hover {
    padding: 5% 36%;
    text-decoration: none;
    color: #e10000 !important;
}
.discription_link-send:active {
    padding: 10% 36%;
    text-decoration: none;
    color: #e10000 !important;
    transform: scale(1.05);
}
.discription_link-sub {
    padding: 15% 26%;
    text-decoration: none;
    color: #FFFFFF !important;
    font-weight: 500;
}
.discription_link-sub:hover {
    padding: 15% 26%;
    text-decoration: none;
    color: #e10000 !important;
}
.discription_link-sub:active {
    padding: 15% 26%;
    text-decoration: none;
    color: #e10000 !important;
    transform: scale(1.05);
}
.testbutton {
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-family: arial;
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 2px 2px 0px #32323246;
    box-shadow: 1px 1px 1px #38383872;
    padding: 15px 25px;
    border-radius: 6px;
    border: 2px solid #A12828;
    background: #EE2828;
    transition: 0.2s;
  }
  .testbutton:hover {
    color: #EE2828 !important;
    background: #FFFFFF;
  }
  .testbutton:active {
    transform: scale(1.05);
  }


/* --- SECOND-SECTION --- */
