/* ---PORTAIT--- */
.grid-box-1 {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 0.5fr 0.3fr;
}
.header-box {
    grid-area: 1 / 1 / 2 / -1;
    justify-self: center;
    width: 100%;
}
.left-side {
    grid-area: 3 / 1 / 4 / -1;
    width: 45%;
    justify-self: start;
    height: 50vh;
    gap: 7%;
}
.video_box {
    grid-area: 3 / 1 / 4 / -1;
    width: 45%;
    justify-self: end;
}
.first_h1 {
    letter-spacing: 3px;
    font-size: 2em;
    font-weight: 900;
}
.main-lorem-style {
    font-size: 1em;
}

.button {
    width: 150px;
    height: 50px;
}
@media  (orientation: portrait) or (max-aspect-ratio: 1/1) {
    .grid-box-1 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.5fr 0.1fr 1fr;
    }
    .header-box {
        grid-area: 1 / 1 / 2 / -1;
    }
    .left-side {
        grid-area: 3 / 1 / 4 / -1;
        width: 80%;
        justify-self: center;
        height: 25vh;
        gap: 10%;
    }
    .button {
        width: 150px;
        height: 50px;
        white-space: nowrap;
    }
    .video_box {
        grid-area: 2 / 1 / 3 / -1;
        width: 80%;
        max-height: 500px;
        justify-self: center;
    }
}
@media  (orientation: portrait) and (max-aspect-ratio: 1/1) {
    .grid-box-1 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.5fr 0.1fr 1fr;
    }
    .header-box {
        grid-area: 1 / 1 / 2 / -1;
    }
    .left-side {
        grid-area: 3 / 1 / 4 / -1;
        width: 80%;
        justify-self: center;
        height: 25vh;
        gap: 10%;
    }
    .first_h1 {
        font-size: 2.2em;
        font-weight: 900;
    }
    .main-lorem-style {
        line-height: 115%;
        font-size: 1em;
        font-weight: 100;
    }
    .button {
        width: 150px;
        height: 50px;
        white-space: nowrap;
    }
    .video_box {
        grid-area: 2 / 1 / 3 / -1;
        width: 80%;
        max-height: 500px;
        justify-self: center;
    }
    @media (min-width:500px) and (max-width:800px) or (max-aspect-ratio: 1/1) {
        .grid-box-1 {
            width: 100%;
            display: grid;
            grid-template-columns:1fr;
            grid-template-rows: 0.3fr 0.1fr 0.4fr 0.1fr 0.2fr;
        }
        .left-side {
            grid-area: 5 / 1 / 6 / -1;
            width: 100%;
            height: 30vh;
            row-gap: 15%;
            padding: 10%;
            padding-top: 0px;
        }
        .video_box {
            grid-area: 3 / 1 / 4 / -1;
            justify-self: center;
            width: 80%;
        }
        .first_h1 {
            font-size: 2.3em;
            letter-spacing: 5px;
        }
        .main-lorem-style {
            font-size: 0.9em;
        }
        .button {
            width: 150px;
            height: 50px;
        }
    }
    @media (min-width:260px) and (max-width:500px) {
        .grid-box-1 {
            width: 100%;
            display: grid;
            grid-template-columns:1fr;
            grid-template-rows: 0.3fr 0.05fr 0.4fr 0.01fr 0.2fr;
        }
        .left-side {
            grid-area: 5 / 1 / 6 / -1;
            justify-self: center;
            width: 90%;
            height: 40vh;
            padding: 10%;
            padding-top: 0px;
            gap: 8%;
        }
        .video_box {
            grid-area: 3 / 1 / 4 / -1;
        }
        .first_h1 {
            width: 95%;
            font-size: 1.5em;
            letter-spacing: 1px;
        }
        .main-lorem-style {
            width: 100%;
            font-size: 0.95em;
        }
        .button {
            width: 150px;
            height: 50px;
        }
    }
    @media (min-width:52px) and (max-width:260px) {
        .grid-box-1 {
            width: 100%;
            display: grid;
            grid-template-columns:1fr;
            grid-template-rows: 0.3fr 0.08fr 0.3fr 0.1fr 0.2fr;
        }
        .left-side {
            grid-area: 5 / 1 / 6 / -1;
            justify-self: center;
            width: 90%;
            height: 30vh;
            padding: 10%;
            padding-top: 0px;
            gap: 5%;
        }
        .first_h1 {
            font-size: 1em;
            letter-spacing: 1px;
        }
        .main-lorem-style {
            width: 100%;
            font-size: 0.7em;
            text-align: justify;
        }
        .button {
            width: 150px;
            height: 50px;
        }
    }

}
/* ---LANDSCAPE--- */
@media screen and (orientation:landscape) and (max-aspect-ratio: 1/1) {

    .header-box {
        grid-area: 1 / 2 / 2 / -1;
    }
    .left-side {
        grid-area: 2 / 1 / 3 / -1;
        width: 45%;
        justify-self: start;
        height: 50vh;
        gap: 7%;
    }
    .video_box {
        grid-area: 3 / 1 / 4 / -1;
        grid-area: 2 / 1 / 3 / -1;
        width: 45%;
        justify-self: end;
    }
    .first_h1 {
        letter-spacing: 3px;
        font-size: 3em;
        font-weight: 900;
    }

    .button {
        width: 150px;
        height: 50px;
    }

    @media (max-width:1355px) and (min-width:975px) {
        .first_h1 {
            font-size: 2.5em;
            font-weight: 900;
        }
        .main-lorem-style {
            font-size: 1em;
        }
    }
    @media (min-width:650px) and (max-width:975px) {
        .first_h1 {
            font-size: 1.5em;
            font-weight: 900;
        }
        .main-lorem-style {
            font-size: 0.7em;
        }
    }
    @media (min-width:700px) and (max-width:790px) {
        .left-side {
            height: 50vh;
            gap: 13%;
        }
        .first_h1 {
            font-size: 1.8em;
            font-weight: 900;
        }
        .main-lorem-style {
            font-size: 0.7em;
            width: 90%;
        }
    }

    @media (aspect-ratio:267dpi) {
        .first_h1 {
            font-size: 1em;
            font-weight: 200;
        }
       }
}

/* BURGER-MENU */

#menu {
	background: black;
    border: 1px solid black;
	color: #FFF;
	height: 60px;
	padding-left: 18px;
}
#menu ul, #menu li {
    height: 100%;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;

}
#menu li {
	display: inline;
	position: relative;
}
#menu a {
    height: 100%;
	display: block;
	line-height: 45px;
	padding: 7px 20px;
	text-decoration: none;
	color: white;
	font-size: 16px;
    font-weight: 500;
}
#menu li a:hover {
	color: white;
	background: red;
}
#menu li a:active {
	transform: scale(0.95);
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: red;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: red;
	color: #444444;
}
@media ((screen) and (max-width: 922px)) or (max-aspect-ratio: 1 / 1) {
    .header-box {
        grid-area: 1 / 1 / 2 / -1;
    }
	#menu {position:relative}
	#menu ul {width: 50%; background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
/* LAYOUT-2 */
/* ---BASE--- */
.second-section {
    width: 100%;
    height: 100vh;
}
.flex-box-2 {
    display: grid;
    grid-template-columns: 0.1fr 0.3fr 0.01fr 0.5fr 0.1fr;
    grid-template-rows: 0.1fr 1fr 0.2fr;
    height: 90vh;
}
.left-side-2 {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-start;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10%;
}
.main_h2-style {
    font-size: 2em;
    line-height: 100%;
}
.main-lorem-style-2 {
    line-height: 115%;
    font-size: 1.2em;
    font-weight: 100;
}
.discription-button, .learn-more-button {
    width: 150px;
    height: 50px;
}
.list-flex {
    grid-area: 2 / 4 / 3 / 5;
    display: grid;
}
.main-h3-style {
    align-self: center;
    font-size: 1.5em;
}
.second-lorem-style {
    line-height: 115%;
    font-weight: 100;
    font-size: 1em;
}
.main-ico-style {
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    align-self: flex-start;
    justify-self: start;
    width: 30px;
    height: 20px;
}
.svg-ico {
    width: 35px;
    height: 35px;
    stroke: transparent;
    stroke-width: 1px;
}
 .icon1 {
    grid-area: 1 / 4 / 2 / 5;
}
.icon2 {
    grid-area: 4 / 4 / 5 / 5;
}
.icon3 {
    grid-area: 1 / 6 / 2 / 7;
}
.icon4 {
    grid-area: 4 / 6 / 5 / 7;
}
.h3-txt-1 {
    grid-area: 2 / 4 / 3 / 5;
}
.h3-txt-2 {
    grid-area: 5 / 4 / 6 / 5;
}
.h3-txt-3 {
    grid-area: 2 / 6 / 3 / 7;
}
.h3-txt-4 {
    grid-area: 5 / 6 / 6 / 7;
}

.second-lorem-1 {
    width: 90%;
    grid-area: 3 / 4 / 4 / 5;
}
.second-lorem-2 {
    width: 90%;
    grid-area: 6 / 4 / 7 / 5;
}
.second-lorem-3 {
    width: 90%;
    grid-area: 3 / 6 / 4 / 7;
}
.second-lorem-4 {
    width: 90%;
    grid-area: 6 / 6 / 7 / 7; 
}
/* ---LANDSCAPE--- */
@media (min-width:900px) and (max-width:1400px) {
    .main_h2-style {
        font-size: 1.8em;
        line-height: 100%;
    }
    .left-side-2 {
        grid-area: 2 / 2 / 3 / 3;
        align-self: center;
        height: 70%;
    }
    .main-lorem-style-2 {
        line-height: 115%;
        font-size: 0.8em;
        font-weight: 100;
    }
    .discription-button, .learn-more-button {
        width: 150px;
        height: 50px;
    }
    .list-flex {
        grid-area: 2 / 4 / 3 / 5;
        display: grid;
    }
    .main-h3-style {
        align-self: center;
        font-size: 1em;
    }
    .second-lorem-style {
        line-height: 115%;
        font-weight: 100;
        font-size: 0.8em;
    }
    .main-ico-style {
        background-repeat: no-repeat;
        background-position: center left;
        background-size: contain;
        align-self: flex-start;
        justify-self: start;
        width: 30px;
        height: 20px;
    }
    .svg-ico {
        width: 25px;
        height: 25px;
        stroke: transparent;
        stroke-width: 1px;
    }
    
    .icon1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .icon2 {
        grid-area: 3 / 1 / 4 / 2;
    }
    .icon3 {
        grid-area: 5 / 1 / 6 / 2;
    }
    .icon4 {
        grid-area: 7 / 1 / 8 / 2;
    }
    .h3-txt-1 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .h3-txt-2 {
        grid-area: 3 / 2 / 4 / 3;
    }
    .h3-txt-3 {
        grid-area: 5 / 2 / 6 / 3;
    }
    .h3-txt-4 {
        grid-area: 7 / 2 / 8 / 3;
    }
    
    .second-lorem-1 {
        width: 90%;
        grid-area: 2 / 1 / 3 / 3;
    }
    .second-lorem-2 {
        width: 90%;
        grid-area: 4 / 1 / 5 / 3;
    }
    .second-lorem-3 {
        width: 90%;
        grid-area: 6 / 1 / 7 / 3;
    }
    .second-lorem-4 {
        width: 90%;
        grid-area: 8 / 1 / 9 / 3; 
    }
}


@media screen and (min-width:400px) and (max-width:900px)  {
    .flex-box-2 {
        display: grid;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-rows: 0.1fr 0.3fr 0.8fr 0.2fr;
        height: 100vh;
    }
    .main_h2-style {
        font-size: 2em;
        line-height: 100%;
    }
    .left-side-2 {
        grid-area: 2 / 2 / 3 / 3;
        align-self: center;
        height: 70%;
        width: 90%;
    }
    .main-lorem-style-2 {
        line-height: 115%;
        font-size: 0.9em;
        font-weight: 100;
    }
    .discription-button, .learn-more-button {
        width: 150px;
        height: 50px;
    }
    .list-flex {
        grid-area: 3 / 2 / 4 / 3;
        display: grid;
        justify-self: end;
        align-self: flex-end;
        height: 80%;
        width: 100%;
    }
    .main-h3-style {
        align-self: center;
        font-size: 1.2em;
    }
    .second-lorem-style {
        line-height: 115%;
        font-weight: 100;
        font-size: 0.8em;
    }
    .main-ico-style {
        background-repeat: no-repeat;
        background-position: center left;
        background-size: contain;
        align-self: flex-start;
        justify-self: start;
        width: 30px;
        height: 20px;
    }
    .svg-ico {
        width: 35px;
        height: 35px;
        stroke: transparent;
        stroke-width: 1px;
    }
    
    .icon1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .icon2 {
        grid-area: 3 / 1 / 4 / 2;
    }
    .icon3 {
        grid-area: 5 / 1 / 6 / 2;
    }
    .icon4 {
        grid-area: 7 / 1 / 8 / 2;
    }
    .h3-txt-1 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .h3-txt-2 {
        grid-area: 3 / 2 / 4 / 3;
    }
    .h3-txt-3 {
        grid-area: 5 / 2 / 6 / 3;
    }
    .h3-txt-4 {
        grid-area: 7 / 2 / 8 / 3;
    }
    
    .second-lorem-1 {
        width: 90%;
        grid-area: 2 / 1 / 3 / 3;
    }
    .second-lorem-2 {
        width: 90%;
        grid-area: 4 / 1 / 5 / 3;
    }
    .second-lorem-3 {
        width: 90%;
        grid-area: 6 / 1 / 7 / 3;
    }
    .second-lorem-4 {
        width: 90%;
        grid-area: 8 / 1 / 9 / 3; 
    }
}
@media screen and (min-width:100px) and (max-width:400px) {
    .flex-box-2 {
        display: grid;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-rows: 0.1fr 0.3fr 0.8fr 0.2fr;
        height: 100vh;
    }
    .main_h2-style {
        font-size: 0.9em;
        line-height: 100%;
    }
    .left-side-2 {
        grid-area: 2 / 2 / 3 / 3;
        align-self: center;
        height: 70%;
        width: 90%;
    }
    .main-lorem-style-2 {
        line-height: 115%;
        font-size: 0.7em;
        font-weight: 100;
    }
    .discription-button, .learn-more-button {
        width: 130px;
        height: 40px;
    }
    .testbutton {
        padding: 10px 20px;
    }
    .list-flex {
        grid-area: 3 / 2 / 4 / 3;
        display: grid;
        justify-self: end;
        align-self: flex-end;
        height: 85%;
        width: 100%;
    }
    .main-h3-style {
        align-self: center;
        font-size: 0.8em;
    }
    .second-lorem-style {
        line-height: 115%;
        font-weight: 100;
        font-size: 0.6em;
    }
    .main-ico-style {
        background-repeat: no-repeat;
        background-position: center left;
        background-size: contain;
        align-self: flex-start;
        justify-self: start;
        width: 15px;
        height: 15px;
    }
    .svg-ico {
        width: 20px;
        height: 20px;
        stroke: transparent;
        stroke-width: 1px;
    }
        
    .icon1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .icon2 {
        grid-area: 3 / 1 / 4 / 2;
    }
    .icon3 {
        grid-area: 5 / 1 / 6 / 2;
    }
    .icon4 {
        grid-area: 7 / 1 / 8 / 2;
    }
    .h3-txt-1 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .h3-txt-2 {
        grid-area: 3 / 2 / 4 / 3;
    }
    .h3-txt-3 {
        grid-area: 5 / 2 / 6 / 3;
    }
    .h3-txt-4 {
        grid-area: 7 / 2 / 8 / 3;
    }
    
    .second-lorem-1 {
        width: 90%;
        grid-area: 2 / 1 / 3 / 3;
    }
    .second-lorem-2 {
        width: 90%;
        grid-area: 4 / 1 / 5 / 3;
    }
    .second-lorem-3 {
        width: 90%;
        grid-area: 6 / 1 / 7 / 3;
    }
    .second-lorem-4 {
        width: 90%;
        grid-area: 8 / 1 / 9 / 3; 
    }
}
/* --------------------- */

    /* LAYUOT-3 */
    
    
/* --- BASE --- */
.third-section {
    width: 100%;
    height: 95vh;
}
.flex-box-3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.05fr 0.1fr 0.1fr 0.01fr 0.05fr 0.6fr 0.05fr;
    width: 100%;
    height: 100vh;
}
.top-line {
    grid-area: 1 / 1 / 2 / -1;
    width: 90%;
    justify-self: center;
    align-self: flex-start;
}
.gallery-h2-style {
    font-size: 2.5em;
}
.main_h2-position {
    grid-area: 2 / 1 / 3 / -1;
    justify-self: center;
    align-self: center;
}
.lorem-gallery-style {
    text-align: center;
    font-size: 1.5em;
}
.lorem-gallery-position {
    grid-area: 3 / 2 / 4 / 6;
    width: 75%;
    justify-self: center;
}
.gallery-bottom-line {
    grid-area: 4 / 3 / 5 / 5;
    width: 30%;
    justify-self: center;
    align-self: center;
    border: 1px solid red;
}
.vkladki {
    width: 100%;
    grid-area: 5 / 1 / 6 / -1;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
}

.main-link-style {
    text-decoration: none;
}
.link_vkladki {
    font-size: 0.9em;
    text-decoration: none;
    white-space: nowrap;
}
.gallery {
    grid-area: 6 / 1 / 7 / -1;
    justify-self: center;
    width: 70%;
    height: 100%;
    column-gap: 0.5%;
    row-gap: 1%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
}
.pic {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.pic-1 {
    background-image: url(../img/gallery/1.jpg);
}
.pic-2 {
    background-image: url(../img/gallery/2.jpg);
}
.pic-3 {
    background-image: url(../img/gallery/3.jpg);
}
.pic-4 {
    background-image: url(../img/gallery/4.jpg);
}
.pic-5 {
    background-image: url(../img/gallery/5.jpg);
}
.pic-6 {
    background-image: url(../img/gallery/6.jpg);
}
.pic-7 {
    background-image: url(../img/gallery/7.jpg);
}
.pic-8 {
    background-image: url(../img/gallery/8.jpg);
}

/* --- MEDIA --- */
/* --- PORTAIT --- */

@media screen and (orientation: portrait) and (max-aspect-ratio: 1/1) {
    .lorem-gallery-position {
        grid-area: 3 / 2 / 4 / 6;
        width: 100%;
        justify-self: center;
    }
    .gallery-h2-style {
        font-size: 1.2em;
    }
    .lorem-gallery-style {
        grid-area: 3 / 1 / 4 / -1;
        width: 90%;
        text-align: center;
        font-size: 0.6em;
    }
    .vkladki {
        width: 100%;
        grid-area: 5 / 1 / 6 / -1;
        align-self: center;
        justify-self: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1%;
    }
    .link_vkladki {
        font-size: 1em;
        text-decoration: none;
        white-space: nowrap;
    }

    .gallery {
        grid-area: 5 / 2 / 7 / 6;
        justify-self: center;
        width: 90%;
        height: 100%;
        column-gap: 0.5%;
        row-gap: 1%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    @media (min-width:50px) and (max-width:649px) {
        .flex-box-3 {
            grid-template-rows: 0.05fr 0.1fr 0.05fr 0.01fr 0.5fr 0.1fr;
        }
        .gallery {
            grid-area: 5 / 1 / 6 / -1;
            justify-self: center;
            width: 90%;
            height: 100%;
            column-gap: 0.5%;
            row-gap: 1%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
        .pic {
            grid-area: 1 / 1;
            background-size: cover;
        }
        .slider {
            margin: auto;
            margin-top: 25px;
            border: 1px solid black;
            position: relative;
            overflow: hidden;
        }
        .slide {
            position: absolute;
            top: 0;
            left: 0;
            animation-name: slide;
            animation-duration: 10s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        @keyframes slide {
            from {
             top: 0;
             left: 0;
            }
            12.5% {
             transform: translate(0px, 0px);
             -webkit-transform: translate(0px, 0px);
             -moz-transform: translate(0px, 0px);
             -ms-transform: translate(0px, 0px);
             -o-transform: translate(0px, 0px);
}
            25% {
             transform: translate(-800px, 0);
             -webkit-transform: translate(-800px, 0);
             -moz-transform: translate(-800px, 0);
             -ms-transform: translate(-800px, 0);
             -o-transform: translate(-800px, 0);
}
            36% {
             transform: translate(-800px, 800px);
             -webkit-transform: translate(-800px, 800px);
             -moz-transform: translate(-800px, 800px);
             -ms-transform: translate(-800px, 800px);
             -o-transform: translate(-800px, 800px);
}
            37% {
             transform: translate(800px, 800px);
             -webkit-transform: translate(800px, 800px);
             -moz-transform: translate(800px, 800px);
             -ms-transform: translate(800px, 800px);
             -o-transform: translate(800px, 800px);
}
            87.5% {
             transform: translate(800px, 0);
             -webkit-transform: translate(800px, 0);
             -moz-transform: translate(800px, 0);
             -ms-transform: translate(800px, 0);
             -o-transform: translate(800px, 0);
}
            to {
             transform: (0px, 0px);
             -webkit-transform: (0px, 0px);
             -moz-transform: (0px, 0px);
             -ms-transform: (0px, 0px);
             -o-transform: (0px, 0px);
}
           }
           .slide1 { 
            animation-delay: 10s;
           }
           .slide2 { 
            animation-delay: 8.5s;
           }
           .slide3 { 
            animation-delay: 7.5s;
           }
           .slide4 { 
            animation-delay: 6.5s;
           }
           .slide5 { 
            animation-delay: 5.5s;
           }
           .slide6 { 
            animation-delay: 3.5s;
           }
           .slide7 { 
            animation-delay: 2.5s;
           }
           .slide8 { 
            animation-delay: 0s;
           }
        .vkladki {
            display: none;
        }
    }

}
/* ---LANDSCAPE--- */
@media (orientation:landscape) or (max-aspect-ratio: 1/1) {

    @media (max-width:1355px) and (min-width:975px) {
        .flex-box-3 {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 0.05fr 0.1fr 0.1fr 0.025fr 0.1fr 0.5fr 0.05fr;
            width: 100%;
            height: 100vh;
        }
        .lorem-gallery-style {
            width: 100%;
            font-size: 1.1em;
        }
        .gallery {
                grid-area: 6 / 1 / 7 / -1;
                width: 70%;
                height: 100%;
                column-gap: 0.5%;
                row-gap: 1%;
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-template-rows: repeat(2, 1fr);
        }
    }
    @media (min-width:650px) and (max-width:975px) {
        .flex-box-3 {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 0.05fr 0.1fr 0.1fr 0.05fr 0.1fr 0.6fr 0.1fr;
            width: 100%;
            height: 100vh;
        }
        .lorem-gallery-position {
            grid-area: 3 / 2 / 4 / 6;
            width: 100%;
            justify-self: center;
        }
        .gallery-h2-style {
            font-size: 1.5em;
        }
        .lorem-gallery-style {
            text-align: center;
            font-size: 0.8em;
        }
        .vkladki {
            width: 100%;
            grid-area: 5 / 1 / 6 / -1;
            align-self: center;
            justify-self: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1%;
        }
        .link_vkladki {
            font-size: 0.8em;
            text-decoration: none;
            white-space: nowrap;
        }
        .gallery {
            grid-area: 6 / 1 / 7 / -1;
            width: 60%;
            height: 100%;
            column-gap: 0.5%;
            row-gap: 1%;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
    @media (min-width:700px) and (max-width:790px) {

    }

    @media (aspect-ratio:267dpi) {

       }
}
/* LAYOUT-4 */

/* ---MEET-OUR-TEAM---- */
/* --- BASE --- */
/* ---MEET-OUR-TEAM---- */
.fourth-section {
    width: 100%;
    height: 100vh;
}

.flex-box-4 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 0.3fr 0.25fr 1fr 0.1fr 0.2fr ;
  }

  .h2-position {
    grid-area: 1 / 2 / 2 / 5;
    align-self: center;
    font-size: 1em;
  }

  .lorem-position {
    grid-area: 2 / 2 / 3 / 5;
    font-size: 0.6em;
  }
  .line-position {
    width: 50%;
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-end;
    border: 0.5px red solid;
  }
  .name-position {
    grid-area: 2 / 3 / 3 / 4;
    align-self: flex-end;
    font-size: 0.7em;
  }

  .name-discription-position {
    grid-area: 3 / 3 / 4 / 6;
    align-self: center;
    font-size: 0.6em;
  }
  /* ----------------- */
  .flex-box-4 input {
    display: none;
  }

.slides {
    z-index: 0;
    justify-self: center;
    width: 90%;
    opacity: 0;
    grid-area: 4 / 2 / 5 / 6;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
.controls {
    grid-area: 5 / 3 / 6 / 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12%;
}
.controls label {
    border-radius: 50%;
    background-color: var(--main-color-span2);
    width: 8px;
    height: 8px;
    position: relative;
}

.controls label:after {
    content: ' ';
    display: block;
    border-radius: 50%;
    border: 0.5px var(--main-color-span1) solid;
    width: 12px;
    height: 12px;
    position: absolute;
    left: -2px;
    top: -2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.flex-box-4 label:hover,
.flex-box-4#slide1:checked .controls label:nth-of-type(1),
.flex-box-4#slide1:checked .controls label:nth-of-type(2),
.flex-box-4#slide1:checked .controls label:nth-of-type(3),
.flex-box-4#slide1:checked .controls label:nth-of-type(4),
.flex-box-4#slide1:checked .controls label:nth-of-type(5) {
    background-color: red;
}

.flex-box-4 #slide1:checked ~ .slide1,
.flex-box-4 #slide2:checked ~ .slide2,
.flex-box-4 #slide3:checked ~ .slide3,
.flex-box-4 #slide4:checked ~ .slide4,
.flex-box-4 #slide5:checked ~ .slide5{
    opacity: 1;
    z-index: 100;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
/* -------------------------- */

  .team-foto-4 {
    background-image: url(../img/team/1.jpg);
    background-size: cover;
    background-position-x: center;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}

.team-foto-3 {
    background-image: url(../img/team/6.jpg);
    background-size: cover;
    background-position-x: center;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}

.team-foto-2 {
    background-image: url(../img/team/5.jpg);
    background-size: cover;
    background-position-x: center;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}

.team-foto-1 {
    background-image: url(../img/team/2.jpg);
    background-size: cover;
    background-position-x: center;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
} 

.main-foto {
    background-image: url(../img/team/3.jpg);
    background-size: cover;
    background-position-x: left;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}

.socLinks-position {
    display: flex;
    justify-content: center;
    gap: 5%;
    grid-area: 6 / 2 / 6 / 6;
    align-self: center;
    }

@media screen and (min-width:500px) {
    .flex-box-4 {
        grid-template-columns: 0.2fr 0.25fr 0.5fr 0.5fr 0.25fr 0.2fr;
        grid-template-rows: 0.2fr 0.3fr 0.25fr 1fr 0.1fr 0.2fr ;
      }
    .slides {
        grid-area: 4 / 2 / 5 / 6;
        background-position: center;
        width: 50%;
        justify-self: center;
    }
    .line-position {
      width: 50%;
      grid-area: 2 / 2 / 3 / 3;
      align-self: flex-end;
      border: 0.5px red solid;
  }

}

@media screen and (min-width:750px) and (max-width:1150px) {
    .flex-box-4 {
        grid-template-columns: 0.5fr 0.5fr 1fr 1fr 0.5fr 0.5fr;
        grid-template-rows: 0.2fr 0.3fr 0.25fr 1fr 0.1fr 0.2fr ;
      }
      .slides {
        grid-area: 4 / 2 / 5 / 6;
        background-position: center;
    }
    .name-discription-position {
        grid-area: 3 / 3 / 4 / 5;
        align-self: center;
      }
      .line-position {
        width: 50%;
        grid-area: 2 / 2 / 3 / 3;
        align-self: flex-end;
        border: 0.5px red solid;
    }

}

@media screen and (min-width:1150px) and (orientation:landscape) {
    .flex-box-4 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 0.3fr 1fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr 0.3fr;
        grid-template-rows: 0.3fr 0.3fr 0.1fr 0.3fr 0.2fr 1fr 0.5fr;
        row-gap: 1%;
        column-gap: 1%;
      }
    
      .h2-position {
        grid-area: 1 / 2 / 2 / 6;
        align-self: center;
      }
    
      .lorem-position {
        grid-area: 2 / 2 / 3 / 6;
      }
      .line-position {
        width: 50%;
        grid-area: 2 / 2 / 3 / 4;
        align-self: flex-end;
        border: 0.5px red solid;
      }
    
      .name-position {
        grid-area: 3 / 5 / 4 / 6;
        align-self: flex-start;
      }
    
      .name-discription-position {
        grid-area: 4 / 5 / 5 / 7;
        align-self: flex-end;
      }
    
      .slides {
        height: 100%;
        justify-self: flex-start;
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}

      .controls {
        display: none;
      }
      .team-foto-4 {
        background-image: url(../img/team/1.jpg);
        transition: 0.25s;
        grid-area: 6 / 8 / 7 / 9;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
}
    
    .team-foto-3 {
        background-image: url(../img/team/6.jpg);
        transition: 0.25s;
        grid-area: 6 / 7 / 7 / 8;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
}
    
    .team-foto-2 {
        background-image: url(../img/team/5.jpg);
        transition: 0.25s;
        grid-area: 6 / 6 / 7 / 7;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
}
    
    .team-foto-1 {
        background-image: url(../img/team/2.jpg);
        transition: 0.25s;
        grid-area: 6 / 5 / 7 / 6;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
} 
    .team-foto-1, .team-foto-2, .team-foto-3, .team-foto-4 {
        width: 100%;
    } 
    
    .main-foto {
        width: 100%;
        grid-area: 4 / 2 / 7 / 4;
        background-image: url(../img/team/3.jpg);
    }
    
    .socLinks-position {
        justify-self: start;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10%;
        grid-area: 5 / 5 / 6 / 8;
    }
    .contact {
        font-size: 1.2em;
    }
    .contacts-info {
        font-size: 1em;
    }
    .main-h2 {
        font-size: 2.2em;
    }
    .lorem-txt-subscribe {
        font-size: 1.3em;
    }
    
}
@media (orientation:landscape) {
    .line-position {
        width: 50%;
        grid-area: 3 / 2 / 4 / 3;
        align-self: flex-start;
        border: 0.5px red solid;
    }

    .main-txt-last {
        align-self: center;
        font-size: 2rem;
    }

    .bottom-line-last{
        align-self: center;
    }
    @media (min-width:985px) and (max-width:1150px) {
      .line-position {
        grid-area: 2 / 2 / 3 / 3;
        align-self: flex-end;
    }
     }
}
@media (min-width:50px) and (max-width:650px) {
    .h2-position {
      grid-area: 1 / 2 / 2 / -1;
      font-size: 1.5em;
    }
    .team-lorem-style {
      grid-area: 2 / 2 / 3 / -2;
      font-size: 0.6em;
    }
    .team-lorem-style-2 {
      grid-area: 3 / 3 / 4 / -2;
      font-size: 0.6em;
      align-self: start;
    }
    .name-position {
      grid-area: 3 / 2 / 4 / 3;
      align-self: flex-end;
      font-size: 1em;
  }
}
 
/* LAYUOT-5 */

/* --------------subscribe-section--------------- */

.flex-box-5{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 0.25fr 0.5fr 1fr 0.5fr;
}
.background-image{
    width: 100%;
    z-index: 0;
    background-image: url(../img/subs_background.jpg);
    background-size: 100% 100%;
    filter: brightness(50%);
    background-repeat: no-repeat;
    grid-column: 1/-1;
    grid-row: 1/10;
    -webkit-filter: brightness(50%);
}
.main-h2{
    z-index: 2;
    grid-column: 1/-1;
    grid-row: 3/4;
    align-self: center;
    color: white;
    font-size: 2.5em;
    line-height: 100%;
    font-weight: bolder;
    letter-spacing: 2px;
}
.lorem-txt-subscribe{
    z-index: 2;
    color: white;
    grid-column: 1/-1;
    grid-row: 4/5;
    align-self: center;
    white-space: nowrap;
    font-size: 1.2em;
}
.subscribe-form{
    z-index: 2;
    grid-column: 2/3;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    gap: 2%;
    height: 50%;
    width: 55rem;
    align-self: center;
    justify-self: stretch;
}
.subscribe-button {
    padding-top: 10px; ;
    height: 50px;
    width: 20%;
    white-space: nowrap;
}
.input-subscribe{
    width:55%;
    height: 50px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* --- MEDIA --- */

@media (max-width:865px) and (min-width:300px), not (orientation:landscape) {
    
.flex-box-5{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 0.25fr 0.5fr 1fr 0.5fr;
}
.background-image{
    z-index: 0;
    background-image: url(../img/subs_background.jpg);
    background-size: cover;
    filter: brightness(50%);
    background-repeat: no-repeat;
    grid-column: 1/1;
    grid-row: 1/10;
    width: 100%;
    justify-self: start;
    -webkit-filter: brightness(50%);
}
.main-h2{
    z-index: 2;
    grid-column: 1/1;
    grid-row: 3/4;
    align-self: center;
    color: white;
    font-size: 150%;
    line-height: 100%;
    font-weight: bolder;
    letter-spacing: 0.05em;
}
.lorem-txt-subscribe{
z-index: 2;
width: 80%;
font-size: small;
color: white;
grid-column: 1/1;
grid-row: 4/5;
align-self: center;
justify-self: center;
white-space: normal;
}
.subscribe-form{
z-index: 2;
grid-column: 1/1;
grid-row: 5/6;
display: flex;
gap: 10%;
width: 80%;
height: 70%;
align-self: center;
justify-self: center;
flex-direction: column;
align-items: center;
}
.input-subscribe{
width: 100%;
height: 100px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
}
.subscribe-button {
width: 150px;
height: 70%;
padding-top: 15px;
} 
}
/* LAYOUT-6 */

.flex-box-last{
    --bs-gutter-x: 0rem;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 0.3fr 0.4fr 0.4fr 0.4fr 0.4fr 0.3fr 0.4fr 0.4fr 0.4fr 0.4fr;
    grid-template-rows: 0.25fr 0.5fr 0.15fr 0.2fr 0.05fr 1fr 0.1fr 0.2fr 0.25fr 0.25fr;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.main-txt-last{
    grid-column: 2/5;
    grid-row: 1/2;
    align-self: flex-end;
    font-size: 2em;
}
.lorem-txt-last{
    font-size: 0.6em;
    width: 100%;
    grid-column: 2/6;
    grid-row: 2/3;
    align-self: center;
    text-align: justify;
}
.bottom-line{
    grid-column: 2/2;
    grid-row: 3/4;
    align-self: flex-start;
    border: 0.5px solid red;
}
.send-msg-form {
    grid-area: 4 / 2 / 7 / 6;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 3%;
    row-gap: 2%;
}
.name-input{
    width: 48%;
    height: 15%;
}
.mail-input{
    width: 48%;
    height: 15%;
}
.txt-area{
    width: 100%;
    height: 80%;
    resize: none;
}
.send-message-button{
    grid-area: 8 / 2 / 9 / 6;
    align-self: center;
    justify-items: center;
    width: 100% !important;
    height: 100%;
    padding: 20px 25px;
    text-align: center;
}

.buttom-line-last{
    grid-column: 2/3;
    grid-row: 3/4;
}
.contact-box{
    background-color: var(--main-color-contact_box-footer);
    grid-column: 7/11;
    grid-row: 4/9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding: 10%;
}
footer{
    background-color: var(--main-color-contact_box-footer);
    grid-column: 1/11;
    grid-row: 10/11;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
}
.contact{
    color: white;
}
.contacts-info{
    width: 80%;
    color: white;
    line-height: 190%;
    font-weight: bolder;
    font-size: smaller;
}
.copyright{
    width: 100%;
    z-index: 5;
    grid-column: 2/6;
    grid-row: 10/11;
    color: white;
    align-self: center;
    font-size: 0.6em;
}
.social-ico-box{
    z-index: 10;
    width: 80%;
    height: fit-content;
    grid-column: 8/10;
    grid-row: 10;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-self: end;
}
.social-ico-1{
    width: 24px;
    height: 24px;
    fill: white;
    background-image: url(../img/svg/icons8-twitter.svg);
    background-size: 95%;
    background-repeat: no-repeat;
}
.social-ico-2{
    width: 24px;
    height: 24px;
    fill: white;
    background-image: url(../img/svg/icons8-linkedin.svg);
    background-size: 95%;
    background-repeat: no-repeat;
}
.social-ico-3{
    width: 24px;
    height: 24px;
    fill: white;
    background-image: url(../img/svg/icons8-google-plus.svg);
    background-size: 95%;
    background-repeat: no-repeat;
}
.social-ico-4{
    width: 24px;
    height: 24px;
    fill: white;
    background-image: url(../img/svg/icons8-facebook.svg);
    background-size: 95%;
    background-repeat: no-repeat;
}

@media (max-width:865px) and (min-width:300px), not (orientation:landscape) {
.flex-box-last{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 0.3fr 0.4fr 0.4fr 0.4fr 0.4fr 0.3fr 0.4fr 0.4fr 0.4fr 0.4fr;
    grid-template-rows: 0.25fr 0.5fr 0.15fr 0.05fr 0.2fr 0.1fr 1fr 0.2fr 0.25fr 0.25fr;
    transition: 0.5s;
    row-gap: 2%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.main-txt-last{
    grid-column: 2/6;
    grid-row: 1/2;
    align-self: flex-end;
    font-size: 2em;
}
.lorem-txt-last{
    width: 100%;
    grid-column: 2/6;
    grid-row: 2/3;
    align-self: center;
    text-align: justify;
}
.bottom-line{
    grid-column: 2/2;
    grid-row: 3/4;
    align-self: flex-start;
    border: 0.5px solid red;
}
.send-msg-form {
    grid-area: 4 / 2 / 8 / -3;
    width: 100%;
    height: 100%;
}
.txt-area{
    width: 100%;
    height: 60%;
    resize: none;
}
.send-message-button{
    grid-column: 2/9;
    grid-row: 8; 
    align-self: flex-end;
    padding: 12px 27px;
}
.buttom-line-last{
    grid-column: 2/3;
    grid-row: 3/4;
}
.contact-box{
    background-color: hsl(0deg 0% 10%);
    grid-area: 1 / 7 / 4 / 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding: 10%;
}
footer{
    background-color: hsl(0deg 0% 10%);
    grid-column: 1/11;
    grid-row: 10/11;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
}
.contact{
    color: white;
    font-size: 1em;
}
.contacts-info{
    width: 80%;
    color: white;
    line-height: 190%;
    font-weight: bolder;
    font-size: 0.6em;
}
.copyright{
    width: 100%;
    z-index: 5;
    grid-column: 2/6;
    grid-row: 10/11;
    color: white;
    align-self: center;
    font-size: 0.5em;
    white-space: nowrap;
}
.social-ico-box{
    z-index: 10;
    width: 80%;
    height: fit-content;
    grid-column: 8/10;
    grid-row: 10;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-self: end;
}
}

