:root {
        --main-color-header: #312b2c;
        --main-color-contact_box-footer:hsl(0deg 0% 10%);
        --main-color-h2-h3: hsl(0deg 0% 36%);
        --main-color-span2: ;
        --main-color-span1: hsl(0deg 0% 36%);
        --main-color-span2:hsl(0deg 0% 60%) ;
}